<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ngHttpClient2 Angular 4.3 {{title}}!
  </h1>
  <i class="fa fa-terminal fa-5x" aria-hidden="true"></i>
  <a href="http://leonardo-desenvolvedor.surge.sh/" target="_blank"><h2>Leonardo de Melo - Desenvolvedor Personal Profile</h2></a>
  <h2>Projeto experimental com integração API Github & Json PlaceHolders Fake API.</h2>
    <h2>Abra o console e verifique os resultado logados!</h2>
  <h2>"Experimental Project with Github API integrations & Json PlaceHolders Fake API.</h2>
  <h2>Open the console and verify the results logged!"</h2>

</div>
